<!-- START: menu navbar. Delete this code in order to remove the menu -->
<!--<div class="page">
  <header class="page-header">
    <h1>Persona 1 - Home</h1>
    <p>1st display</p>
  </header>

  <main class="page-content">
    <section class="card">
      <p>HOMEPAGE</p>
      <button class="primary-button"></button>
    </section>

    <section class="card">
      <p>notifications, settings etc</p>
    </section>
  </main>-->
<!-- END: menu navbar. Delete this code in order to remove the menu -->
<router-outlet></router-outlet>
